<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/movie">Movie</a></li>
            <li><a href="/topRatedMovies">Top Rated</a></li>
            <li><a href="/upcomingMovies">Upcoming Movies</a></li>
        </ul>
    </nav>
</header>