<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/randomMovie">Random Movie!</a></li>
      <li><a href="/topRated">Top Rated</a></li>
      <li><a href="/upcomingMovies">Upcoming Movies</a></li>
    </ul>
  </nav>
</header>
