/* Base styling, feel free to remove or alter */

body {
    background: linear-gradient(90deg, rgba(93,142,251,1) 0%, rgba(93,142,251,1) 50%, rgba(0,212,255,1) 100%);
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
    display: flex;
    color: #F6F6F6;
    flex-direction: column;
}

.main-content {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    flex-direction: column;
}

.main-content h1 {
    font-size: 50px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: rgb(76, 0, 255);
    color: #F6F6F6;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 10px;
}

header nav ul li a {
    color: #F6F6F6;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: rgb(76, 0, 255);
    background-color: #F6F6F6;
    text-decoration: underline;
}

header nav ul li a:visited {
    color: #F6F6F6;
    text-decoration: none;
    font-size: 18px;
}